.pagination{
    padding: 0.2em 0;
    display: inline-flex;
}

.pagination button{
    background-color: #c0c1c2;
    background-image: none;
    box-shadow: 0 0 0 1px transparent inset;
    color: rgba(0,0,0,.95);
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 0.25em 0 0;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
}

.pagination button:hover{
    background-color: #c0c1c2;
    background-image: none;
    color: rgba(0,0,0,.95);
}


.pagination button:disabled{
    cursor: default;
    opacity: .45!important;
    background-image: none!important;
    box-shadow: none!important;
    pointer-events: none!important;
}