

$spacing: 6px;
$pokedexred: #EF511D;

.pokemon-wrapper{
    display: flex;
    flex-direction: column;
}

.pokemon-api-id{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.pokemon-api-id-title{
    align-items: center;
    display: flex;
    background-color: $pokedexred;
    color:#ffffff;
    padding: $spacing;
    padding-right: $spacing*3;
    font-size: xx-small;
}

.pokemon-api-id-value{
    align-items: center;
    border-radius: 50%;
    background-color: #000000;
    color:#ffffff;
    display: flex;
    font-size: x-small;
    height: $spacing*2;
    margin-left: -2*$spacing;
    padding: $spacing;
    text-align: center;
    width: $spacing*2;    
}