@use "sass:map";
@import '../variables.scss';

$spacing: 6px;
$pokedexred: #EF511D;

.pokemon-wrapper{
    display: flex;
    flex-direction: column;
}

.pokemon-api-id{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.pokemon-api-id-title{
    align-items: center;
    display: flex;
    background-color: $pokedexred;
    color:#ffffff;
    padding: $spacing;
    padding-right: $spacing*3;
    font-size: xx-small;
}

.pokemon-api-id-value{
    align-items: center;
    border-radius: 50%;
    background-color: #000000;
    color:#ffffff;
    display: flex;
    font-size: x-small;
    height: $spacing*2;
    margin-left: -2*$spacing;
    padding: $spacing;
    text-align: center;
    width: $spacing*2;    
}

.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pokemon-details-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pokemon-details-item{
    align-items: stretch;
    display: flex;
    margin: $spacing;
    flex-wrap: wrap;
}

.pokemon-details-item-title{
    align-items: center;
    background-color: $pokedexred;
    color: #ffffff;    
    display: flex;
    font-size: small;
    padding: $spacing;
    text-transform: capitalize;
}

.pokemon-details-item-spacer{    
    background: linear-gradient(115deg, $pokedexred 50%, #000000 50%);    
    width: 3*$spacing;
}

.pokemon-details-item-value{
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    font-size: medium;
    padding: $spacing;
    text-transform: capitalize;
}
.pokemon-details-item {
    flex: 1 0 50%;
}

.pokemon-details-item-value {
    flex: 1;
}

.pokemon-details-table{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.pokemon-details-table-row{
    border-bottom: solid 2px #D2D2D2;
    display: flex;
    flex-direction: row;
    font-size: medium;   
    text-transform: capitalize; 
}

.pokemon-details-table-cell{
    background-color: #ffffff;
    max-height: 1rem;
    overflow: hidden;
    padding: $spacing;
}

.pokemon-details-table-cell-title{
    flex: 1 0 20%;
    background-color: #DBDCD9;
}

.pokemon-details-table-cell-value{
    flex: 1 0 60%;
}

.pokemon-details-table-cell-aside{
    flex: 1 0 10%;
}

@media all and (min-width: map.get($grid-breakpoints, 'md')) {
    .pokemon-details-item {
        flex: 1 0 30%;
    }

}