@use "sass:map";
@import '../variables.scss';

$spacing: 6px;
$pokedexred: #EF511D;

.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pokemon-details-item{
    align-items: stretch;
    display: flex;
    margin: $spacing;
    flex-wrap: wrap;
}

.pokemon-details-item-title{
    align-items: center;
    background-color: $pokedexred;
    color: #ffffff;    
    display: flex;
    font-size: small;
    padding: $spacing;
    text-transform: capitalize;
}

.pokemon-details-item-spacer{    
    background: linear-gradient(115deg, $pokedexred 50%, #000000 50%);    
    width: 3*$spacing;
}

.pokemon-details-item-value{
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    font-size: medium;
    padding: $spacing;
    text-transform: capitalize;
}
.pokemon-details-item {
    flex: 1 0 50%;
}

.pokemon-details-item-value {
    flex: 1;
}

@media all and (min-width: map.get($grid-breakpoints, 'md')) {
    .pokemon-details-item {
        flex: 1 0 30%;
    }

}