@use "sass:map";
@import './variables.scss';

.header {
    background: tomato;
}

.header-title {
    text-align: center;
}

.main-container {
    padding: 1em;
    text-align: left;
    background: deepskyblue;
    min-height: 80vh
}

.footer {
    padding: 1em;
    background: lightgreen;
}

.aside {
    padding: 1em;
}

.aside-1 {
    background: gold;
}

.aside-2 {
    background: hotpink;
}

/* adapted from css-tricks */

.wrapper {
    display: flex;
    flex-flow: row wrap;
    min-height: inherit;
    align-items: stretch;
}

.wrapper>* {
    flex: 1 100%;
}

@media all and (max-width: map.get($grid-breakpoints, 'sm')) {
    .main-container {
        order: 1;
        min-height: 40vh
    }

    .aside-2 {
        order : 2;
    }

    .aside-1 {
        order: 3;
    }

    .footer {
        order: 4;
    }
    
}

@media all and (min-width: map.get($grid-breakpoints, 'sm')) {
    .aside {
        flex: 1 auto;
    }
}


@media all and (max-width: map.get($grid-breakpoints, 'md')) {
    .main-container {
        min-height: 40vh
    }
}

@media all and (min-width: map.get($grid-breakpoints, 'md')) {
    .main-container {
        flex: 3 0px;
    }

    .aside-1 {
        order: 1;
    }

    .main-container {
        order: 2;
    }

    .aside-2 {
        order : 3;
    }

    .footer {
        order: 4;
    }
}