@use "sass:map";
@import './variables.scss';

.header {
    background: #000000;
    height: 60px;
    padding: 0.1em;
}

.header-title {
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    flex: auto;
}

.col-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.col-main {
    padding: 1em;
    text-align: left;
    background: #fd7b47;
    order: 1;
}

.col-aside-left {
    background: #ecdcda;
    order: 3;
    padding: 1em;
}

.col-aside-right {    
    background: #ecdcda;
    order: 2;
    padding: 1em;
}

.footer {
    flex: 1;
    background: #000000;
    color: #ffffff;
    padding: 1em;
}

@media all and (min-width: map.get($grid-breakpoints, 'md')) {
    .col-wrapper {
        flex-direction: row;
    }

    .col-aside{
        flex: 1 0 0;
    }
    
    .col-main{
        flex: 1 1 100%;   
        order: 1;
    }

    .col-aside-left{             
        order: 2;
    }
    
    .col-aside-right{
        order: 3;
    }
}

@media all and (min-width: map.get($grid-breakpoints, 'lg')) {
    
    .col-aside-left{        
        order: 1;
    }
    
    .col-main{
        flex: 3 0 0;
        order: 2;
    }
    
    .col-aside-right{
        order: 3;
    }
}